<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Editar Persona</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
  <form method="post">
      <h1> Editar Persona</h1>
      <table>
          {{formaPersona}}

      </table>
      <button type="submit" class="btn btn-primary">Enviar</button>
      <button class="btn btn-secondary">
        <a class="btn btn-secondary" href="{% url 'index' %}">Regresar</a>
      </button>
      {% csrf_token %}
  </form>


  </body>
</html>