<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Domicilio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <form method="post">
      <h1> Agregar Domicilio</h1>
      <table>
          {{formaDomicilio}}

      </table>
      <button type="submit" class="btn btn-primary">Enviar</button>
      <button class="btn btn-secondary">
            <a href="{% url 'domicilios' %}">Regresar</a>
      </button>
      {% csrf_token %}
  </form>


</body>
</html>